
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="form-group">
    {{ form_widget(form) }}
</div>
<button class="btn">{{ button_label|default('Añadir') }}</button>
{{ form_end(form) }}