{% extends "base.html.twig" %}

{% block body %}

    {% set active = openChats[0] %}

    <link rel="stylesheet" href="/css/chat.css">
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
                    {# VENTANA DE CONTACTOS #}
                    <div class="card-header">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." name="" class="form-control search">
                            <div class="input-group-prepend">
                                <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body contacts_body">
                        <ui class="contacts">
                            {% for user in openChats %}
                                {% if loop.index is same as(1) %}
                                    <li class="active">
                                {% else %}
                                    <li>
                                {% endif %}
                                        <div onclick="{{ app.session.set('user', user) }}" class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="/images/{{ user.avatar }}" class="rounded-circle user_img">
                                                <span class="online_icon"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>{{ user.username }}</span>
                                            </div>
                                        </div>
                                    </li>
                            {% else %}
                                <li>
                                    <div class="d-flex bd-highlight">
                                        <div class="user_info">
                                            <span>No tienes mensajes</span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ui>
                    </div>
                    <div class="card-footer"></div>
                </div></div>



            {# VENTANA DE CHAT #}
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="/images/{{ active.avatar }}" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Chat con {{ active.username }}</span>
                                <p>{{ active.receptor |length }}</p>
                            </div>
                            <div class="video_cam">
                                <span><i class="fas fa-video"></i></span>
                                <span><i class="fas fa-phone"></i></span>
                            </div>
                        </div>
                        <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                        <div class="action_menu">
                            <ul>
                                <li><i class="fas fa-user-circle"></i> View profile</li>
                                <li><i class="fas fa-users"></i> Add to close friends</li>
                                <li><i class="fas fa-plus"></i> Add to group</li>
                                <li><i class="fas fa-ban"></i> Block</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body msg_card_body">
                        {# TEXTO OTRA PERSONA #}
                        {% for mensaje in mensajes %}
                            {% if mensaje.userenvia is same as(active) or mensaje.userrecibe is same as(active) %}
                                {% if mensaje.userenvia is same as(active) %}
                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="img_cont_msg">
                                            <img src="/images/{{ active.avatar }}" class="rounded-circle user_img_msg">
                                        </div>
                                        <div class="msg_cotainer">
                                            {{ mensaje.texto }}
                                            <span class="msg_time">{{ mensaje.fecha |date}} </span>
                                        </div>
                                    </div>
                                {% else %}
                                    {# TEXTO MI PERSONA #}
                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="msg_cotainer_send">
                                            {{ mensaje.texto }}
                                            <span class="msg_time_send">{{ mensaje.fecha |date}}</span>
                                        </div>
                                        <div class="img_cont_msg">
                                            <img src="/images/{{ mensaje.userenvia.avatar }}" class="rounded-circle user_img_msg">
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            NO HAY MENSAJES
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                            </div>
                            <textarea name="" class="form-control type_msg" id="mensaje" placeholder="Type your message..."></textarea>
                            <div class="input-group-append">
                                <span class="input-group-text send_btn"><i onclick="sendMsg({{active.id}})" class="icon icon-location-arrow"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/sendMsg.js"></script>
{% endblock %}