{% extends "base.html.twig" %}

{% block body %}
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10"><h1>{{ usuario.username }}</h1></div>
            </div>
        <div class="row">
            <div class="col-sm-3"><!--left col-->


                <div class="text-center">
                    <img src="/images/{{ usuario.avatar }}" class="avatar img-circle img-thumbnail" alt="avatar">
                    </div>

            </div><!--/col-3-->
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li><a href="{{ path('app_usuario_editar_contrasena', {'id': usuario.id}) }}">Editar Contraseña</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="{{ path('app_usuario_editar_avatar', {'id': usuario.id}) }}">Editar Avatar</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="{{ path('app_usuario_editar_correo', {'id': usuario.id}) }}">Editar Correo</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="{{ path('app_usuario_mensajes') }}">Mensajes</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="first_name"><h4>Nombre: </h4></label>
                            <span>{{ usuario.username }}</span>
                        </div>
                    </div>

                <div class="col-xs-6">
                    <label for="password"><h4>Productos subidos:</h4></label>
                    <span>{{ usuario.numimagenes }}</span>
                </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="password2"><h4>Rol: </h4></label>
                        <span>{{ usuario.role }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="password2"><h4>Email: </h4></label>
                        <span>{{ usuario.email }}</span>
                    </div>
                </div>
            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><
{% endblock %}