{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-3">

            </div>
            <div class="card col-6 mb-4">
                <article class="card-body">
                    {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                        <a href="{{ path('app_register') }}" class="float-right btn btn-outline-primary">Registrate</a>
                    {% endif %}
                    <h4 class="card-title mb-4 mt-3">
                        Logueate!
                    </h4>
                    <form action="{{ path('app_security_login') }}" method="post">
                        <div class="form-group">
                            <label for="inputUsername" class="sr-only">Username</label>
                            <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <button type="submit" class="btn btn-primary btn-block" > Login </button>
                    </form>
                </article>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
