{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <h1>Register</h1>

        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
    {% endblock %}
