{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.urlNombre }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.alt }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.usuario.username }}</td>
                <td>
                    <a href="{{ path('producto_show', {'id': producto.id}) }}">show</a>
                    <a href="{{ path('producto_edit', {'id': producto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_producto_new') }}">Create new</a>
{% endblock %}
