{% extends "base.html.twig" %}

{% block body %}
    <h4>Mandar mensaje a {{ producto.usuario.username }}</h4>
    <div class="form-group">
        <textarea class="form-control" name="comment" id="mensaje" placeholder="Write an opinion"></textarea>
    </div>
    <button type="submit" onclick="sendMsg({{ producto.usuario.id }})" class="btn btn-primary mb-3">Send</button>

    <script src="/js/sendMsg.js"></script>
{% endblock %}