{% extends 'base.html.twig' %}

{% block title %}New Producto{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-1">

            </div>
            <div class="card col-10 mb-4">
                <h1>Create new Producto</h1>

                {{ include('producto/_form.html.twig') }}

                <a href="{{ path('producto_index') }}" class="float-right" >back to list</a>
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>
{% endblock %}
