{% extends 'base.html.twig' %}



{% block body %}1

    <div class="container">
        <div class="container">
            <img class="card-img-top" src="/images/{{ producto.urlnombre }}" />
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text"></p> {{ producto.alt }}
                <div class="card-text">
                </div>
                <div class="card-text">
                    <small class="text-muted">
                        <strong>Precio: </strong>{{ producto.precio }}
                    </small>
                </div>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if usuario.id is same as(producto.usuario.id) or is_granted('ROLE_ADMIN') %}
                        {{ include('producto/_delete_form.html.twig') }}
                        <a class="btn btn-success mt-2 btn-sm" href="{{ path('producto_edit', {'id': producto.id}) }}">edit</a>
                    {% else %}
                        <a class="btn btn-success mt-2 btn-sm" href="#" onclick="addToCart({{ producto.id }})">Añadir al carrito</a>
                        <a class="btn btn-success mt-2 btn-sm" href="{{ path('app_producto_mensaje', {'id': producto.id }) }}" >Enviar mensaje al propietario</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="card-footer">
            </div>
        </div>

        <ul class="list-group mt-4 mb-4" id="comments">
            <li class="list-group-item active">Restaurant comments</li>
            {% for comentario in comentarios %}
            <li class="list-group-item d-flex flex-row">
                <div>
                    <img class="rounded-circle mr-3" style="width: 40px;" src="/images/{{ comentario.usuario.avatar }}" alt="">
                </div>
                <div>
                    <div><strong> {{ comentario.usuario.username }} </strong> {{ comentario.texto }}</div>
                    <small>{{ comentario.fecha|date('d-m-Y')}}</small>
                </div>
            </li>
            {% else %}
                <li class="list-group-item d-flex flex-row">
                    <div>
                        <div><strong> No hay comentarios </strong>  </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h4>Write about this restaurant:</h4>
            <div class="form-group">
                <textarea class="form-control" name="comment" id="comment" placeholder="Write an opinion"></textarea>
            </div>
            <button type="submit" onclick="addComment({{ producto.id }})" class="btn btn-primary mb-3">Send</button>
        {% endif %}
    </div>

    <script src="/js/addToCart.js"></script>
    <script src="/js/addComent.js"></script>
{% endblock %}
