{% extends "base.html.twig" %}

{% block body %}
    <ul class="list-group">
    {% for usuario in usuarios %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ usuario.username }}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-success mt-2 btn-sm" href="{{ path('app_admin_user_edit', {'id': usuario.id}) }}">edit</a>
            {% endif %}
            <span class="badge badge-primary badge-pill">{{ usuario.role }}</span>

        </li>
    {% else %}

    {% endfor %}
    </ul>
{% endblock %}