{% extends "base.html.twig" %}

{% block body %}
    <div class="row mb-5">
    {% for producto in productos %}

        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border">
                <figure class="block-4-image">
                    <a href="{{ path('producto_show', {'id': producto.id}) }}"><img src="images/{{ producto.urlNombre }}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                    <h3><a href="">{{ producto.nombre }}</a></h3>
                    <p class="text-primary font-weight-bold">{{ producto.precio }} €</p>
                </div>
            </div>
        </div>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
    </div>
{% endblock %}